// logo
@mixin backImg($image, $width, $height, $pos1: 0, $pos2: 0) {
    width: $width;
    height: $height;
    background: url($image) no-repeat $pos1 $pos2;
}

// header <h> tags
@mixin headerH($color, $font-weight, $font-size, $line-height, $margin-bottom: null) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

// footer social icons
@mixin socialBckg($image, $pos1, $pos2: 0) {
    background: url($image) $pos1, $pos2;
}

// media queries
@mixin break($length) {
    @media screen and (max-width: $length) {
        @content;
    }
}