// logo
@mixin backImg($image, $width, $height, $pos1: 0, $pos2: 0) {
    width: $width;
    height: $height;
    background: url($image) no-repeat $pos1 $pos2;
}

// navigation
@mixin navParts($width, $height, $float) {
    width: $width;
    height: $height;
    float: $float;
}

// header <h> tags
@mixin headerH($color, $font-weight, $font-size, $line-height, $margin-bottom: null) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $margin-bottom;
}

// footer social icons
@mixin socialBckg($image, $pos1, $pos2: 0) {
    background: url($image) $pos1, $pos2;
}

// media queries
@mixin break($length) {
    @media screen and (max-width: $length) {
        @content;
    }
}

// @mixin imageGrid($qty, $margin){
//     width: ((100% - (($qty - 1) * $margin)) / $qty);
//     &:nth-child(n) {
//         margin-bottom: $margin;
//         margin-right: $margin;
//     }
//     &:nth-child(#{$qty}n) {
//         margin-bottom: 0;
//         margin-right: 0;
//     }
// }